html, body {
  margin: 0;
}

html {
  font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
  height: 100%;
}

body {
  overflow: hidden;
  height: inherit;
}

h1 {
  font-size: 2rem;
  font-weight: 500;
  letter-spacing: -1px;
  position: absolute;
  margin: 0;
  padding: 5px 10px;
  top: 10px;
  left: 10px;
  color: #fff;
  text-shadow: 0 0 1px #fff;
  border: 1px solid;
  border-radius: 15px;
}

.scoreboard {
  position: absolute;
  top: 20px;
  right: 30px;
  color: #fff;
}

button {
  position: absolute;
  left: 0;
  bottom: 0;
  width: 100%;
  height: 60px;
  padding: 10px;
  font-size: 1em;
  border-left: 10px;
  border-right: 10px;
  border-bottom: 10px;
  border-style: solid;
  border-color: #000;
}

button:focus {
  outline: 0;
}
